<html lang="en-us"><head>
<title></title>
<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
{% include 'css.html' %}
</head>
<body >
<!-- Container -->
<div align="center" class="container">
<nav class="navbar  fixed-top  navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Article</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list_articles' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'create_article' %}">Add Article</a>
      </li>
    </ul>
  </div>
</nav>
{% block content  %}
{% endblock content %}
</div>
{% include 'js.html' %}
</body>
</html>